h1 {
  text-transform: capitalize;
  font-size: 36px;
}
header,
nav,
nav ul {
  background-color: rgb(248, 249, 250);
}
p.hero-text {
  font-size: 30px;
}

.hero-section {
  height: 597px;
}

.nav-link img:hover {
  transform: scale(1.1); /* Increase size by 10% */
  font-weight: bold;
}
