h1 {
  text-transform: capitalize;
  font-size: 36px;
}
nav,
nav ul {
  background-color: white;
}
p.hero-text {
  font-size: 30px;
}

.hero-section {
  background-image: url("/assets/images/Rectangle2.png");
  height: 597px;
}

.nav-link img:hover {
  transform: scale(1.1); /* Increase size by 10% */
  font-weight: bold;
}
